# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.iobj
*.ipdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.vs
# Executables
*.exe
*.out
*.app
.vs/Tester/v15/.suo
.vs/Tester/v15/Solution.VC.db
*.dgml
*.cache
*.pdb
job_handler_plot_view/job_handler_plot_view/obj/Debug/job_handler_plot_view.csproj.FileListAbsolute.txt
*.resources
Bin/job_handler_Release_job_time_sets.xml
Bin/job_handler_Debug_job_time_sets.xml
job_handler_plot_view/job_handler_plot_view/obj/Debug/job_time_set_view.csproj.FileListAbsolute.txt
job_time_set_view/job_time_set_view/obj/Debug/job_time_set_view.csproj.FileListAbsolute.txt
*.txt
job_time_set_view/job_time_set_view/bin/Debug/job_time_set_view.exe.config
job_time_set_view/job_time_set_view/bin/Release/job_time_set_view.exe.config
job_time_set_view/job_time_set_view/obj/Debug/job_time_set_view.csproj.FileListAbsolute.txt
